*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(236, 216, 255);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: rgb(182, 0, 142);
    color: rgb(236, 216, 255);
    font-size: 30px;
    padding: 23px;
    display: flex;
    justify-content: center;
}

footer{
    background-color: rgb(182, 0, 142);
    color: rgb(236, 216, 255);
    font-size: 17px;
    padding:15px;
    display: flex;
    justify-content: center 
}

aside{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50px;
    
    margin: 10px;
}

#contEsquerdo{
   background-color:rgb(182, 0, 142) ; 
}

main{
    background-color:rgb(204, 82, 177) ;
    display: flex;
    flex-direction: column;
    width: 173px;
    height: auto;
    flex: 1;
}

button{
    width: 140px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(236, 216, 255);
    border: 1px solid rgb(236, 216, 255);
    font-size: 18px;
    margin: 6px;
    color: rgb(116, 0, 90);
}

.hidden{
    display: none;
}